
<title>个人聊天管理</title>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">
          <div style="float:left;">个人聊天管理</div>
        </div>
        <div class="layui-card-body">
          <div class="layui-form">
            <div class=" layui-form" style="margin-bottom: 10px;">


              <div style="float:left;" style="margin-bottom: 10px;">
                <div class="layui-form layui-inline" >
                  <label class="layui-inline layui-form  layui-form-label marginTop10"> 类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</label>
                  <div class="layui-input-inline" lay-filter="single_type" style="width: 120px;">
                    <select name="single_type"  lay-filter="single_type_filter" id="single_type_filter">
                    </select>
                  </div>
                  <input type="hidden" value="" id="single_type_values" />
                </div>
              </div>
              <div class="layui-inline" style="margin-bottom: 10px;">
                <label class="layui-form-label" style="width:40px;"> ID：</label>
                <div class="layui-input-inline" style="width: 85px;">
                  <input class="layui-input" id="chat-index-sent_uid" name="sent_uid" autocomplete="off" placeholder="发送用户ID">
                </div>
              </div>
              <div class="layui-inline" style="margin-bottom: 10px;">
                <label class="layui-form-label" style="width:80px;"> 发送用户：</label>
                <div class="layui-input-inline" style="width: 120px;">
                  <input class="layui-input" id="chat-index-sent_username" name="sent_username" autocomplete="off" placeholder="发送用户名">
                </div>
              </div>
              <div class="layui-inline" style="margin-bottom: 10px;">
                <label class="layui-form-label" style="width:100px;"> 发送手机号：</label>
                <div class="layui-input-inline" style="width: 120px;">
                  <input class="layui-input" id="chat-index-sent_phone" name="sent_phone" autocomplete="off" placeholder="发送手机号">
                </div>
              </div>

              <div class="layui-inline" style="margin-bottom: 10px;">
                <label class="layui-form-label" style="width:40px;"> ID：</label>
                <div class="layui-input-inline" style="width: 85px;">
                  <input class="layui-input" id="chat-index-accept_uid" name="accept_uid" autocomplete="off" placeholder="接受用户ID">
                </div>
              </div>
              <div class="layui-inline" style="margin-bottom: 10px;">
                <label class="layui-form-label" style="width:80px;"> 接受用户：</label>
                <div class="layui-input-inline" style="width: 120px;">
                  <input class="layui-input" id="chat-index-accept_username" name="accept_username" autocomplete="off" placeholder="接受用户名">
                </div>
              </div>
              <div class="layui-inline" style="margin-bottom: 10px;">
                <label class="layui-form-label" style="width:100px;"> 接受手机号：</label>
                <div class="layui-input-inline" style="width: 120px;">
                  <input class="layui-input" id="chat-index-accept_phone" name="accept_phone" autocomplete="off" placeholder="接受手机号">
                </div>
              </div>

              <div class="layui-inline" style="margin-bottom: 10px;">
                <label class="layui-form-label">发布时间：</label>
                <div class="layui-input-inline" style="width: 140px;margin-bottom: 10px;">
                  <input type="text" name="fromtime" class="layui-input" id="single_chat_search_starttime" placeholder="开始日期">
                </div>
                -
                <div class="layui-input-inline" style="width: 120px;margin-bottom: 10px;">
                  <input type="text" name="totime" class="layui-input" id="single_chat_search_endtime" placeholder="结束日期">
                </div>
              </div>

              <div class="layui-inline" style="margin-bottom: 10px;" >
                <button class="layui-btn"  lay-submit="" lay-filter="single_chat_index_searching" style="float:float;">搜索</button>
              </div>
            </div>
          </div>
          <a class="layui-btn layui-btn-danger" lay-submit="" lay-filter="single_chat_delete_all" style="margin-bottom: 10px;">删除</a>
          <table class="layui-hide" id="single_chat_index_list" lay-data="{id:'singlechatidlist'}"  lay-filter="single_chat_index_list"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="single_chat_operation">
  <a class="layui-btn layui-btn-sm" lay-event="single_chat_delete_action">删除</a>
</script>
<script>
    layui.use(['admin', 'table','laydate','layer','form','laytpl','layedit','upload'], function(){
        var $ = layui.$, admin = layui.admin,table = layui.table,laydate = layui.laydate,laytpl = layui.laytpl, form = layui.form, upload = layui.upload;

        var type = {};
        type[5]= "单聊文本消息";
        type[6]= "单聊图片消息";
        type[7]= "单聊红包消息";
        type[17]= "单聊抢红包消息";
        type[15]= "单聊消息撤回";
        type[13]= "单聊添加好友消息";
        type[14]= "单聊同意添加好友";
        type[25]= "单聊名片消息";

        //开始日期
        form.render('select');
        var insStart = laydate.render({
            elem: '#single_chat_search_starttime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,type:'datetime'
            ,done: function(value, date){
                //更新结束日期的最小日期
                insEnd.config.min = lay.extend({}, date, {
                    month: date.month - 1
                });

                //自动弹出结束日期的选择器
                insEnd.config.elem[0].focus();
            }
        });

        //结束日期
        var insEnd = laydate.render({
            elem: '#single_chat_search_endtime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,type:'datetime'
            ,done: function(value, date){
                //更新开始日期的最大日期
                insStart.config.max = lay.extend({}, date, {
                    month: date.month - 1
                });
            }
        });
        var single_chat_aaa = function (data) {
            table.render({
                id: 'singlechatidlist'
                ,elem: '#single_chat_index_list'
                ,url: '/interface/singleChatList' //数据接口
                ,where: {data:data}
                ,page: true //开启分页
                ,limit:10
                ,method: 'post'
                ,cols: [[ //表头
                    {type:'checkbox', fixed: 'left'}
                    ,{field: 'id', title: 'ID', fixed: 'left'}
                    ,{field: 'username', title: '用户名'}
                    ,{field: 'phone', title: '手机号'}
                    ,{field: 'acceptName', title: '接受人'}
                    ,{field: 'acceptPhone', title: '接受手机号'}
                    ,{field: 'from', title: '消息来源'}
                    ,{field: 'content', title: '内容'}
                    ,{field: 'type', title: '消息类型',templet:function (d) {
                            return type[d.type] ? type[d.type] : "未知消息类型";
                        }}
                    ,{field: 'create_time', title: '发布时间',templet: function(d){return admin.formatDate(d.create_time); }}
                    ,{field:'type',title:'查看',width:100,templet:$('#single_chat_operation')}
                ]]
                ,parseData: function(res){ //res 即为原始返回的数据
                    var single_chat_aaa_res = {};
                    $.each(res.where, function (keys, val) {
                        single_chat_aaa_res.key = keys;
                        single_chat_aaa_res.value = val;
                        layui.data('single_chat_aaa_res', single_chat_aaa_res);
                    });

                }
            });


        }

        var signle_chat_reload = function (data) {
            table.reload('singlechatidlist',{
                url:'/interface/singleChatList'
                ,where: data
        })
        }



        var single_chat_del = function(data){
            admin.req({
                url: layui.setter.URL_ADMIN+'/interface/singleChatDelete'
                ,data: {id:data.id}
                ,type: 'post'
                ,success: function(res){
                    if(res.code==0){
                        layer.msg(res.message, {icon: 1});
                        if(data.isflush==1){
                            setTimeout(signle_chat_reload(layui.data('single_chat_aaa_res')),2000);
                        }
                    }else{
                        layer.msg(res.message, {icon: 2});
                    }
                }
                ,error:function(r){
                    layer.msg(r.message, {icon: 2});
                }
            });
        }

        var single_type = function (data) {
            admin.req({
                url: layui.setter.URL_ADMIN+'/interface/getSingleType'
                ,data: {data:data}
                ,type: 'post'
                ,done: function(res){
                    if(res.code==0){
                        var str  ="<option value='0'>请选择</option>"
                        $('#single_type_filter').append(str);
                        $.each(res.data, function(i, item){
                            var str = "<option value="+i+">"+item+"</option>";
                            $('#single_type_filter').append(str);
                        });
                        form.render('select');
                    }
                }
            });

        }

        single_type();
        single_chat_aaa();
        //监听搜索提交按钮
        form.on('submit(single_chat_index_searching)', function(data){
            var data = data.field;
            single_chat_aaa(data);
        })

        table.on('tool(single_chat_index_list)', function(obj) {
            var data = obj.data;
            if(obj.event ==='single_chat_delete_action' ){
                layer.confirm('确定执行删除操作吗?', {
                    btn: ['确定','取消'] //按钮
                }, function() {
                    single_chat_del({id: data.id, isflush: 1});
                });
            }
        });

        form.on('submit(single_chat_delete_all)', function(){
            layer.confirm('确定执行删除操作吗?', {
                btn: ['确定','取消'] //按钮
            }, function() {
                var checkStatus = table.checkStatus('singlechatidlist'); //listids 即为基础参数 id 对应的值
                var str = '';
                $.each(checkStatus.data, function (i, item) {
                    str += item.id + '|';
                });
                single_chat_del({id: str, isflush: 1});
            });
        })

    });
</script>
